section {
  display: flex;
  justify-content: center;
}

.timer {
  margin: 200px 0;
  display: flex;
  color: #7e5a25;
  font-size: 14pt;
  border: 2px solid #e1d4ae;
  background: #e8e3d4;
  padding: 5px 20px;
}

.value::after {
  content: ":";
  margin-right: 10px;
  margin-left: 10px;
}
